.cfg
# build/
# .build/
compile_commands.json
.clangd
notmycode/**
go
.sccache*
CMakeFiles
.cache/
etc/local.conf
.ignore
.nvimlog
__pycache__
.cargo
.venv
.bundle
.azure
.debug
.config/chromium
.config/go
.config/microsoft*
.project.gf
.gdb_history
*.a
*.so
*.dylib
*.o
.config/nvim/autoload/plug.vim
.cfg
*.exe
*.test
